.app-button {
  --background-color: hsl(var(--color-action));
  --color-text: hsl(0, 0%, 100%);
  --border-color: transparent;
  --hover-overlay: hsla(0, 0%, 100%, 0.1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--color-text);
  border: 2px solid var(--border-color);
  border-radius: 10em;
  font-weight: 600;
  text-align: center;
  padding-inline: $s-3;
  padding-block: $s-2;
  line-height: 1;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  transition: all ease-in-out 200ms;

  &:hover,
  &:focus-visible {
    box-shadow: inset 0 0 0 10em var(--hover-overlay);
    text-decoration: none;
  }

  &.-outlined {
    --background-color: transparent;
    --color-text: hsl(var(--color-action));
    --border-color: hsl(var(--color-action));
    --hover-overlay: hsla(hsl(var(--color-action)), 0.08);
  }
}
