.home-page {
  > section {
    $padding-block: $s-8;

    @include contain-width;
    padding-top: calc(#{$padding-block} + #{$height-nav});
    padding-bottom: $padding-block;
  }

  > .hero {
    $background-wave: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjE2NyIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTg3OSAwYzIxNS04IDM2NyAxMTggNjIxIDE1MXYxNkgwQzU3OSAxNDAgNTkwIDggODc5IDBaIi8+PC9zdmc+");

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $s-6;
    background: $background-wave no-repeat bottom/100% min(10vw, 100px), // Full-width positioned at bottom with a max height of 10vw or 100px
                linear-gradient(to top, $color-blue-midnight, $color-blue-maritime);

    > .description {
      margin-right: auto;
      flex: 9999 1 320px;

      > h1 {
        line-height: 1.2;
        font-size: clamp(2rem, 3vw + 1rem, 4rem);
        color: hsl(0deg 0% 100%);
      }

      > .main {
        margin-top: $s-6;
        line-height: 1.5;
        font-size: clamp(1rem, 2.5vw + 0.5rem, 1.5rem);
        font-weight: 600;
        max-width: 580px;
        color: hsl(0deg 0% 100%);
      }

      > .secondary {
        margin-top: $s-5;
        font-size: clamp(0.75rem, 1.5vw + 0.25rem, 1rem);
        font-weight: 400;
        max-width: 580px;
        color: $color-secondary;
      }
    }

    > .form {
      display: flex;
      flex-direction: column;
      flex: 1 0 360px;
      gap: $s-1-half;
      max-width: 100%;
      padding: $s-6;
      background-color: hsl(0deg 0% 100%);
      box-shadow: 0px 16px 56px 8px hsl(0deg 0% 0% / 10%);
      border-top: 4px solid $color-success;

      > h2 {
        font-weight: 400;
        text-align: center;
      }

      > .name {
        display: flex;
        flex-wrap: wrap;
        gap: inherit;

        .input-text {
          flex: 1 0 120px;
        }
      }
    }
  }
}
