.main-nav {
  @mixin has-items-opened {
    transform: translateY(0);
    transition: transform 200ms ease-in-out;
    box-shadow: 0px 6px 8px 0px hsl(0 0% 0% / 15%);
  }

  @include contain-width;
  display: flex;
  align-items: center;
  position: relative;
  height: $height-nav;
  margin-bottom: -$height-nav;
  color: hsl(0, 0%, 100%);
  gap: $s-4;

  .items:focus-within  {
    @media (max-width: $bp-tablet) {
      @include has-items-opened;
    }
  }

  > .logo {
    font-size: 2.5rem;
    margin-right: auto;
  }

  .items {
    display: flex;
    gap: inherit;
    z-index: 1;

    > ul {
      display: flex;
      gap: inherit;
      padding: unset;

      > li {
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        gap: $s-2;
        line-height: 1.2;

        &::before {
          content: '';
          display: block;
          width: 1em;
          height: 1em;
          mask-image: var(--icon-url);
          background-color: hsl(var(--color-secondary));
        }
      }
    }

    @media (max-width: $bp-tablet) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: hsl(var(--color-black-midnight));
      padding: $s-6 $s-2;
      transform: translateY(-100%);

      &, & > ul {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }

  > .hamburger-menu {
    order: 1;
    z-index: 2;

    @media (max-width: $bp-tablet) {

      &:checked {
        &::after, &::before {
          position: fixed;
        }

        & ~ .items {
          @include has-items-opened;
        }
      }
    }

    @media (min-width: $bp-tablet) {
      display: none;
    }
  }
}