// Root colors
$color-black-midnight: #14082b;

$color-blue-maritime: #203F80;
$color-blue-midnight: #002167;

$color-green-ice: #36D9CB;

$color-red-heart: #D96262;

$color-purple-widowmaker: #9DAFFF;
$color-purple-genie: #666AFF;

// App colors
$color-brand: $color-blue-midnight;
$color-brand-light: $color-blue-maritime;
$color-secondary: $color-purple-widowmaker;

$color-text: $color-black-midnight;
$color-action: $color-purple-genie;
$color-success: $color-green-ice;
$color-error: $color-red-heart;
