:root {
  // App colors (Raw HSL, must use hsl() or hsla() function)
  --color-black-midnight: 260, 70%, 10%;

  --color-blue-maritime: 220, 60%, 30%;
  --color-blue-midnight: 220, 100%, 20%;

  --color-green-ice: 175, 70%, 50%;

  --color-red-heart: 0, 60%, 60%;

  --color-purple-widowmaker: 230, 100%, 80%;
  --color-purple-genie: 240, 100%, 70%;


  // Context colors
  --color-brand: var(--color-blue-midnight);
  --color-brand-light: var(--color-blue-maritime);
  --color-secondary: var(--color-purple-widowmaker);

  --color-text: var(--color-black-midnight);
  --color-action: var(--color-purple-genie);
  --color-success: var(--color-green-ice);
  --color-error: var(--color-red-heart);
}

[data-theme="green"] {

  --color-black-borealis: 160, 90%, 10%;

  --color-green-maritime: 160, 35%, 25%;
  --color-green-midnight: 160, 80%, 30%;

  --color-green-widowmaker: 150, 80%, 35%;
  --color-green-genie: 160, 65%, 70%;

  --color-brand: var(--color-green-maritime);
  --color-brand-light: var(--color-green-midnight);
  --color-secondary: var(--color-green-genie);

  --color-text: var(--color-black-borealis);
  --color-action: var(--color-green-widowmaker);
}
